* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}
html {
  font-size: calc(10px + (14 - 10) * ((100vw - 400px) / (800 - 400)));
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #0a0247;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: #fff;
}

.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: #5fc3e4;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  height: 75vh;
  margin: 0 auto 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #473b65;
  overflow-y: scroll;
}

/* .page__content {
  display: flex;
  justify-content: center;
  width: 100%;
} */

form {
  width: 55%;
  margin: 1.5rem auto 0.5rem;
}

.add-form {
  width: 77%;
  padding: 0.5rem 1.25rem;
  margin: 0.3rem 0 0.3rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: #0a0247;
  color: #fff;
}

.add-form:focus {
  border: 1px solid rgba(28, 28, 28, 0.9);
  outline: none;
}

.btn-add {
  background: #473b65;
  border: none;
  padding: 0 1rem 0 0.5rem;
  margin: 0.3rem 0;
  font-size: 18px;
  cursor: pointer;
}

ul {
  width: 55%;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 80%;
  margin: 0.3rem 0 0.3rem 2rem;
}

.todo {
  margin: 0 0 0 0.7rem;
  word-wrap: normal;
  color: #fff;
}

.btn-del {
  background: #473b65;
  border: none;
  padding: 0 1rem 0 0.5rem;
  margin: 0.3rem 0;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}
